<% include ./partials/header %>

<div class="container">
    <div class="well text-center">
        <h1>Login</h1>

        <form action="/login" method="POST">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
            </div>
            <br>
            <button>Submit</button>
        </form>
        
    </div>

    
</div>



<% include ./partials/footer %>
